<h1 style="text-align:center;font-family: 'Raleway-Light', sans-serif">Access your seller Account</h1>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_for(:session,:html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
				<div class="login-brand">
					<%= f.label :brand, 'Seller Id' %>
				</div>
					<%= f.text_field :brand, class: 'form-control', autofocus: true, placeholder: "Enter your seller name" %>
						<div class="login-password">
							<%= f.label :password %>
						</div>
							<%= f.password_field :password, class: 'form-control',placeholder: "Enter password", autofocus: true %> <br />
								<div class="login"style="font-family: 'Raleway-Light', sans-serif" >
									<%= f.submit 'Log in', class: "btn btn-primary" %>
								</div>
										<div class="login">	
											<%= link_to 'Cancel', reviews_path %>
										</div>
			<% end %>
		</div>
	</div>
	
