<h1 style="text-align:center">Access your seller Account</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:session,:html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>

			<%= f.label :brand %>
			<%= f.text_field :brand, class: 'form-control', autofocus: true %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control',placeholder: "Enter password", autofocus: true %> <br />
			
			<%= f.submit 'Log in', class: 'btn btn-primary' %><br /><br />
					
			<%= link_to 'Cancel', reviews_path %>
		<% end %>
	</div>
</div>
