<h1 style="text-align:center">Edit Seller Account</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<%= form_for @seller do |f| %>

	<% if logged_in? && current_user.admin %>

	<%= f.label :sellername  %>
	<%= f.text_field :sellername, class: 'form-control' %>

	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, class: 'form-control' %><br />

	<% end %>
	
	<%= f.label :email  %>
	<%= f.text_field :email, class: 'form-control' %>

	<%= f.label :storename %>
	<%= f.text_field :storename, class: 'form-control' %>

	<%= f.label :location %>
	<%= f.text_field :location, class: 'form-control' %>

	<%= f.label :description %> 
	<%= f.text_area :description, class: 'form-control' %><br />

	<%= f.submit 'Edit Account', class: 'btn btn-primary' %>

	<% end %>
</div>
</div>
