<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Id</th>
    <th class="center">Brand</th>
    <th class="center">Email</th>
    <th class="center">Location</th>
    <th class="center">Description</th>
    <th class="center">Action</th>
  </tr>
<% @seller.each do |seller| %>
  <tr>
    <td><%= seller.id %></td>
    <td><%= seller.brand %></td>
    <td><%= seller.email if seller.email %></td>
    <td><%= seller.location if seller.location %></td>
    <td><%= truncate(seller.description, length: 50) if seller.description %></td>
    <td><%= link_to "View",seller %></td>
        </tr>
        <% end %>
        </table>

