<div class="container-fluid">
	<div class="jumbotron" style="border:2px solid black;border-radius: 0">
		<div class="row">
			<div class="col-md-3">
			<% if @seller.image %>
				<%= image_tag @seller.image.url(:medium) %>
			<% end %>
			</div>
				<div class="col-md-6">
					<div class="seller-brand">
						<h1><%= @seller.brand %></h1>
					</div>
						<div class="seller-description">
							<p><%= @seller.description %></p>
						</div>
							<div class="seller-location">
								<p><%= @seller.location %></p>
							</div>
								<div class="seller-category">
									<p><%= @seller.category %></p>
								</div>
				</div>

							<div class="col-md-1" style="float:right">
									<%= link_to 'Follow', '#', class: "btn btn-primary btn-lg" %>
								</div>
							</div><br />
							<div class="icons">
								<%= link_to image_tag('facebook.png'), '#' %>
								<%= link_to image_tag('twitter.png'), '#' %>
								<%= link_to image_tag('instagram.png'), '#' %>
						</div>
			</div>
		</div>
	</div>
		
          <%= render 'layouts/reviewp' %>
          <%= render 'products/product', obj: @seller_products %>
			<%= render 'layouts/all' %>
			<%= render 'listings/listing', obj: @seller_listings %>
 				<% if logged_in? && current_seller == @seller %>
					<%= link_to 'Add a new product', new_listing_path, class: "btn btn-default" %>
				<% end %>
	<%= render 'layouts/footer' %>

