<h1 align="center">Request a Seller Account</h1>
	
		<div class='row'>
			<div class='col-xs-12'>
				<%= form_for(@applicant, :html => {class: "form-horizontal", role: "form"}) do |f| %>
					<div class="form-group">
						<div class="control-label col-sm-2">
							<%= f.label :brand, 'Please enter the name of your store / brand' %>
						</div>
							<div class="col-sm-8">
								<%= f.text_field :brand, class: "form-control", placeholder: "Enter brand", autofocus: true %>
							</div>
					</div>
						<div class="form-group">
							<div class="control-label col-sm-2">
								<%= f.label :email %>
							</div>
								<div class="col-sm-8">
									<%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
							</div>
						</div>
								<div class="form-group">
									<div class="control-label col-sm-2">
										<%= f.label :location %>
									</div>
										<div class="col-sm-8">
											<%= f.text_field :location, class: "form-control", placeholder: "Edit Location", autofocus: true %>
										</div>
								</div>
									<div class="form-group">
										<div class="control-label col-sm-2">
											<%= f.label :description, "Please provide a brief description of your brand (within 150 characters)" %>
										</div>
											<div class="col-sm-8">
												<%= f.text_field :description, class: "form-control", placeholder: "Edit Location", autofocus: true %>
											</div>
									</div>
									<div class="form-group">
										<div class="control-label col-sm-2">
											<%= f.label :category, 'Please list a minimum of 3 categories that your featured products fall under' %>
										</div>
											<div class="col-sm-8">
												<%= f.text_field :category, class: "form-control", placeholder: "Edit Location", autofocus: true %>
											</div>
									</div>
									<div class="form-group">
										<div class="control-label col-sm-2">
											<%= f.label :product, 'Please list a minimum of 10 specific products that your brand sells' %>
										</div>
											<div class="col-sm-8">
												<%= f.text_field :product, class: "form-control", placeholder: "Edit Location", autofocus: true %>
											</div>
									</div>
									<div class="form-group">
										<div class="control-label col-sm-2">
											<%= f.label :site, 'Please provide a link where your products are listed / can be purchased' %>
										</div>
											<div class="col-sm-8">
												<%= f.text_field :site, class: "form-control", placeholder: "Edit Location", autofocus: true %>
											</div>
									</div>


								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<%= f.submit "Request Account", class: 'btn btn-primary btn-lg' %>
									</div>
								</div>
					<% end %>
						<div class="col-xs-4 col-xs-offset-4">
							[ <%= link_to "Cancel account request and return to reviews", reviews_path %> ]
						</div>
			</div>
		</div>