<div class = "container-fluid">
	<h1 style="text-align:center">Edit Product</h1>
		<h1 style="text-align:center">Create a new product</h1>
		<% if @product.errors.any? %>
			<h2>Errors</h2>
				<ul>
					<% @product.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
		<% end %>
			<div class = "row">
				<div class = "col-md-6 col-md-offset-3">
					<%= form_for @product do |l| %>
						<%= l.label :name %><br />
						<%= l.text_field :name, class: "form-control" %>
						<%= l.label :seller %><br />
						<%= l.text_field :seller, class: "form-control" %><br />
						<%= l.label :feature1 %><br />
						<%= l.text_area :feature1, class: "form-control" %>
						<%= l.label :feature2 %><br />
						<%= l.text_area :feature2, class: "form-control" %>
						<%= l.label :feature3 %><br />
						<%= l.text_area :feature3, class: "form-control" %>
						<%= l.label :price %><br />
						<%= l.text_field :price, class: "form-control" %>
						<%= l.label :image %>
						<%= l.file_field :image, class: "form-control"%><br />
						<%= l.label :image2 %>
						<%= l.file_field :image2, class: "form-control"%><br />
						<%= l.label :image3 %>
						<%= l.file_field :image3, class: "form-control"%><br />
						<%= l.label :image4 %>
						<%= l.file_field :image4, class: "form-control"%><br />
						<%= l.label :image5 %>
						<%= l.file_field :image5, class: "form-control"%><br /><br />
						<%= l.label :site %><br />
						<%= l.text_field :site, class: "form-control" %>
						<%= l.submit %>
					<% end %>
				</div>
			</div>
</div>