<div class = "container">
	<div class = "jumbotron">
		<div class = "row">
			<div class = "col-md-6">
					<%= image_tag @product.image2.url(:medium), :data => { zoom_image: @product.image2.url(:large) }, :class => "zoom" %>
						<div class ="row">
							<div class = "col-md-10 col-xs-6">
								<div id="gallery">
								 
								 <%= link_to image_tag(@product.image2.url(:thumb)), '#', data: { image: @product.image2.url(:medium), zoom_image: @product.image2.url(:large) }, :class => 'zoom2' if @product.image2? %>
								 
								 <%= link_to image_tag(@product.image3.url(:thumb)), '#', data: { image: @product.image3.url(:medium), zoom_image: @product.image3.url(:large) }, :class => 'zoom2' if @product.image3?  %>
								 
								 <%= link_to image_tag(@product.image4.url(:thumb)), '#', data: { image: @product.image4.url(:medium), zoom_image: @product.image4.url(:large) }, :class => 'zoom2' if @product.image4?  %>
								 
								 <%= link_to image_tag(@product.image5.url(:thumb)), '#', data: { image: @product.image5.url(:medium), zoom_image: @product.image5.url(:large) }, :class => 'zoom2' if @product.image5?  %>

								</div>
							</div>
								
						</div><br />
						<%= link_to 'Read Review',@product.review , class: "btn btn-danger btn-lg" %>
				</div>			
							
					<div class = "col-md-6">
						<div class = "product_set_1">
							<div class="title" style="font-weight:bold;font-size:20px">
								Product Name: <br/>
							</div>
								<div class="fill">
									<%= @product.name %>
								</div>
									<div class="by">by</div>
										
						</div>
						<%= link_to @product.seller.brand, @product.seller %><br /><br />
								<div class="title" style="font-weight:bold;font-size:20px">
									Key Features: <br/>
								</div>
									<%= @product.feature1 %><br />
									<%= @product.feature2 %><br />
									<%= @product.feature3 %><br />
									<%= @product.feature4 %><br />
									<%= @product.feature5 %><br /><br />
										<span style="font-size:25px;border:1px solid #008ac1;padding:6px">
											₹ <%= @product.price %>
										</span><br /><br />
										<div class= "cod"><%= @product.cod %></div><br />
										<div class="time">Delivery Time: <%= @product.time %></div><br />
										<span style="font-size:25px;border:1px solid #008ac1;padding:6px;margin-right:10px">
											 <%= link_to 'Add to Cart', '#' %>
										</span>
										<span style="font-size:25px;border:1px solid #008ac1;padding:6px">
											<%= link_to 'Buy Now', '#' %>
										</span><br /><br />
									This item can be bought <%= link_to 'here', "#{@product.site}" %><br /><br />
					   </div>
					   	
							<div class = "col-md-4">
								<% if (logged_in? && current_seller == @product.seller) %>
								<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-success" %>
								<%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure you want to delete this product"},class: "btn btn-success" %> 
							
						<% end %>
							<%= link_to 'More from this seller', @product_seller, class: "btn btn-success" %>
						</div>
						<div class= "col-md-12 col-xs-12">
							<h4>Product Description:</h4>
								<%= @product.description %>
						</div>
						<div class= "col-md-12 col-xs-12">
							<h4>Technical Info:</h4>
								<%= @product.technical %>
						</div>
						
				</div><br />
						<% if logged_in? %>
			<%= link_to 'Ask a Question about this product / seller', '#' %>
		<% else %>
			You must be logged in to ask a question about this product / seller
		<% end %>
			<h5>Question 1 asked by user</h5>
			<h6>Answer 1 by seller</h6>
			<h5>Question 2 asked by user</h5>
			<h6>Answer 2 by seller</h6>
			<h5>Question 3 asked by user</h5>
			<h6>Answer 3 by seller</h6>
			<h5>Question 4 asked by user</h5>
			<h6>Answer 4 by seller</h6>
			</div>
		</div>

		<%= render 'layouts/footer' %>


		