<%= link_to 'Back', reviews_path, class: "btn btn-default" %>
<div class = "container-fluid">
	<div class = "row">
		<div class="col-xs-12 col-md-5">
			<%= image_tag @review.image.url(:large) %>
  				<div class = "review_title">
			  	  <p><%= @review.title %></p>
		      </div>
      </div>
      <div class="col-xs-12 col-md-4">
              <% if logged_in? && current_user.admin %>
              <h2>Ratings</h2>
                <%= @review.ft1 %> : <%= rating_for @review, "feature1", :star_on => "blue-star.png", :star_off => "white-star.png", :disable_after_rate => true %><br />

                <%= @review.ft2 %> : <%= rating_for @review, "feature2", :star_on => "blue-star.png", :star_off => "white-star.png", :disable_after_rate => true %><br />
                
                <%= @review.ft3 %> : <%= rating_for @review, "feature3", :star_on => "blue-star.png", :star_off => "white-star.png", :disable_after_rate => true %><br />
                
                <%= @review.ft4 %> : <%= rating_for @review, "feature4", :star_on => "blue-star.png", :star_off => "white-star.png", :disable_after_rate => true %><br />
                
                <%= @review.ft5 %> : <%= rating_for @review, "feature5", :star_on => "blue-star.png", :star_off => "white-star.png", :disable_after_rate => true %><br />
              <% end %>
      </div>
       <div class="col-xs-12 col-md-3">
          <h2>Specifications</h2>
            <h4><%= @review.st1 %></h4>
              <p><%= @review.s1 %></p>
            <h4><%= @review.st2 %></h4>
              <p><%= @review.s2 %></p>
            <h4><%= @review.st3 %></h4>
              <p><%= @review.s3 %></p>
            <h4><%= @review.st4 %></h4>
              <p><%= @review.s4 %></p>
            <h4><%= @review.st5 %></h4>
              <p><%= @review.s5 %></p>
      </div>
            <div class="col-xs-12 col-md-12">
		        	<h2> Review </h2>
		            <h3><%= @review.ft1 %>:</h3>
  			           <p><%= @review.f1 %></p>
    			      <h3><%= @review.ft2 %>:</h3>
    			         <p><%= @review.f2 %></p>
    			      <h3><%= @review.ft3 %>:</h3>
    			         <p><%= @review.f3 %></p>
    			      <h3><%= @review.ft4 %>:</h3>
    			         <p><%= @review.f4 %></p>
    			     	<h3><%= @review.ft5 %>:</h3>
    			         <p><%= @review.f5 %></p>
  			   </div>
	</div>
</div>